# Python
__pycache__/
*.py[cod]
venv/
env/

# Database
data/*.db

# Uploads & Media
uploads/*
media/audio/*
media/video/*
media/covers/*
!media/audio/.gitkeep
!media/video/.gitkeep
!media/covers/.gitkeep
!uploads/.gitkeep

# OS
.DS_Store
Thumbs.db
*.swp

# IDE
.vscode/
.idea/
